[submodule "lib/emacs-refactor"]
        path = lib/emacs-refactor
        url = git://github.com/chrisbarrett/emacs-refactor.git
[submodule "lib/ert-modeline"]
        path = lib/ert-modeline
        url = git://github.com/chrisbarrett/ert-modeline.git
[submodule "lib/ido-speed-hack"]
        path = lib/ido-speed-hack
        url = git://github.com/orfelyus/ido-speed-hack.git
[submodule "lib/sclang-extensions"]
        path = lib/sclang-extensions
        url = git://github.com/chrisbarrett/sclang-extensions.git
[submodule "lib/info-lookmore"]
        path = lib/info-lookmore
        url = git://github.com/emacsmirror/info-lookmore.git
[submodule "lib/clang-complete-async"]
    path = lib/clang-complete-async
    url = git://github.com/Golevka/emacs-clang-complete-async.git
[submodule "lib/bbdb-vcard"]
    path = lib/bbdb-vcard
    url = git://github.com/tohojo/bbdb-vcard.git
[submodule "lib/slime"]
    path = lib/slime
    url = git://github.com/nablaone/slime.git
