# Ignore filetypes

sk-old
*.dat
*~
*elc
\#*
.\#*
*.cache
session*
flycheck-*

# ignore individual items

TAGS
.DS_Store
auto-save-list
repl-port
abbrev_defs
loaddefs.el*
site-file.el
.smex-items
ede-projects.el
semanticdb
.yas-compiled-snippets.el
!/eshell/alias

# ignore directories

.cask
eshell
backups
elpa
etc
tmp
bin
src
url
places
thumbs
oddmuse
image-dired
elim
tramp
swank
var
el-get
/config-*.el
/custom.el
