[submodule "lib/emacs-refactor"]
    path = lib/emacs-refactor
    url = https://github.com/chrisbarrett/emacs-refactor.git
[submodule "lib/ido-speed-hack"]
    path = lib/ido-speed-hack
    url = https://github.com/orfelyus/ido-speed-hack.git
[submodule "lib/info-lookmore"]
    path = lib/info-lookmore
    url = https://github.com/emacsmirror/info-lookmore.git
[submodule "lib/clang-complete-async"]
    path = lib/clang-complete-async
    url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule "lib/osx-bbdb"]
	path = lib/osx-bbdb
	url = https://github.com/chrisbarrett/osx-bbdb.git
[submodule "lib/whizzytex"]
	path = lib/whizzytex
	url = https://github.com/emacsmirror/whizzytex.git
[submodule "lib/org-pomodoro"]
	path = lib/org-pomodoro
	url = https://github.com/chrisbarrett/org-pomodoro.git
[submodule "lib/helm-dictionary"]
	path = lib/helm-dictionary
	url = https://github.com/chrisbarrett/helm-dictionary.git
[submodule "lib/reveal.js"]
	path = lib/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "lib/agda-mode"]
	path = lib/agda-mode
	url = https://github.com/jwiegley/agda-mode.git
[submodule "lib/easy-convert"]
	path = lib/easy-convert
	url = https://github.com/Frozenlock/easy-convert.git
[submodule "lib/proofgeneral"]
	path = lib/proofgeneral
	url = https://github.com/emacsmirror/proofgeneral.git
[submodule "lib/capture-mail"]
	path = lib/capture-mail
	url = https://github.com/chrisbarrett/capture-mail.git
[submodule "lib/org-reveal"]
	path = lib/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "lib/Pymacs"]
	path = lib/Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "lib/emacs-deferred"]
	path = lib/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred.git
[submodule "lib/super-smart-ops"]
	path = lib/super-smart-ops
	url = git://github.com/chrisbarrett/super-smart-ops.git
