[submodule "lib/elisp-refactor"]
	path = lib/elisp-refactor
	url = git://github.com/chrisbarrett/elisp-refactor.git
[submodule "lib/ert-background-mode"]
	path = lib/ert-background-mode
	url = git://github.com/chrisbarrett/ert-background-mode.git
